<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Imoveis</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Endereco</th>
          <th>Valor</th>
          <th>Corretor</th>
          <th>Proprietário</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let imovel of imoveis | async">
          <td>{{imovel.id_imovel}}</td>
          <td>{{imovel.valor}}</td>
          <td>{{imovel.corretor}}</td>
          <td>{{imovel.proprietario}}</td>
          <td><button (click)="deleteImovel(imovel.id)" class="btn btn-danger">Deletar</button>
              <button (click)="imovelDetails(imovel.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
