<h3>Editar Imovél</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Endereço</label>
      <input type="text" class="form-control" id="id_endereco" required [(ngModel)]="imovel.id_imovel" name="endereco">
    </div>
    <div class="form-group">
      <label for="name">Valor</label>
      <input type="text" class="form-control" id="valor" required [(ngModel)]="imovel.valor" name="valor">
    </div>

    <div class="form-group">
      <label for="name">Nome do Corretor</label>
      <input type="text" class="form-control" id="nomeCorretor" required [(ngModel)]="imovel.corretor" name="imovel.corretor">
    </div>

    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
